.Weather {
  border: 1px solid rgb(180, 179, 179);
  border-radius: 5px;
  padding: 16px;
  margin: 20px 0;
}

.Weather h1 {
  color: #878787;
  display: block;
  font-size: 36px;
  font-weight: 100;
  line-height: 48px;
  margin: 10px 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 18px;
  font-weight: 100;
  line-height: 21px;
  list-style: none;
}

.Weather canvas {
  margin: 10px auto;
}

.Weather .temperature {
  font-weight: bold;
  font-size: 48px;
  margin-left: 5px;
}

